* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

@media (min-width: 768px) and (max-width: 1920px) {
  #container {
    width: 100vw;
    height: 100vh;
  }
  #container header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  #container header > div {
    width: 72vw;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(1) > a {
    width: 170px;
    height: 28px;
    background-image: url(../images/yoga-logo.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(2) > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(2) > ul li a {
    margin-right: 5vw;
    color: #fff;
  }
  #container header > div > div:nth-child(2) > ul:nth-child(2) li a {
    width: 24px;
    height: 24px;
    margin-right: 0;
    margin-left: 3vw;
  }
  #container header > div > div:nth-child(2) > ul:nth-child(2) li:nth-child(1) a {
    background-image: url(../images/icon/search.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(2) > ul:nth-child(2) li:nth-child(2) a {
    background-image: url(../images/icon/mypage.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(3) {
    display: none;
  }
  #container main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container main section:nth-child(1) {
    width: 100vw;
    height: 85vh;
    background-image: url(../images/bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  #container main section:nth-child(1) > div:nth-child(1) {
    width: 80vh;
    height: 20vh;
    border: 1px solid red;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  #container main section:nth-child(1) > div:nth-child(2) {
    width: 80vh;
    height: 50vh;
    border: 1px solid blue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
  }
  #container main section:nth-child(1) > div:nth-child(3) {
    width: 16vw;
    height: 10vh;
    border: 1px solid red;
    position: absolute;
    bottom: 20vh;
    right: 20vw;
  }
  #container main section:nth-child(2) {
    width: 72vw;
    height: 72vw;
    background-color: #ffc;
    margin-top: 10vh;
  }
  #container main section:nth-child(3) {
    width: 100vw;
    height: 40vh;
    background-color: #cfc;
    margin-top: 10vh;
  }
  #container footer {
    width: 100vw;
    height: 30vh;
    background-color: #ccc;
    margin-top: 10vh;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  #container {
    width: 100vw;
    height: 100vh;
  }
  #container header {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  #container header > div {
    width: 90%;
    height: 100%;
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(1) > a {
    display: block;
    width: 130px;
    height: 23px;
    background-image: url(../images/yoga-logo.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(2) {
    display: none;
  }
  #container header > div > div:nth-child(3) {
    width: 30px;
    height: 30px;
    background-image: url(../images/icon/menu.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container main section:nth-child(1) {
    width: 100vw;
    height: 85vh;
    background-image: url(../images/bg-mobile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  #container main section:nth-child(1) > div:nth-child(1) {
    width: 90vw;
    height: 30vw;
    border: 1px solid red;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  #container main section:nth-child(1) > div:nth-child(2) {
    width: 90vw;
    height: 70vw;
    border: 1px solid blue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30vh;
  }
  #container main section:nth-child(1) > div:nth-child(3) {
    width: 50vw;
    height: 10vh;
    border: 1px solid red;
    position: absolute;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
  }
  #container main section:nth-child(2) {
    width: 100%;
    height: 100vh;
    background-color: #ffc;
    margin-top: 10vh;
  }
  #container main section:nth-child(3) {
    width: 100%;
    height: 40vh;
    background-color: #cfc;
    margin-top: 10vh;
  }
  #container footer {
    width: 100%;
    height: 30vh;
    background-color: #ddd;
    margin-top: 10vh;
  }
}/*# sourceMappingURL=style.css.map */