
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  display: block;
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}
h2 {
  font-size: inherit;
  font-weight: normal;
}
//color
$color-1 : #fff;
$color-2 : #eee;
$color-3 : #ccc;
$color-4 : #767676;
$color-5 : #484848;
$color-6 : #333;
$color-7 : #222;
// width variable 
$mobile-min-width : 320px;
$tablet-min-width : 768px;
$desktop-min-width : 1024px;
$fullhd-min-width : 1920px;
//mixin
@mixin reponsive-media-query($min-width, $max-width) { 
  @media (min-width:$min-width) and (max-width:$max-width) {
    @content;
  }
}
@mixin size($width, $height) { //size set
  width: $width;
  height: $height;
}
@mixin flex($justify, $align, $flex) { //flex set
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex;
} 
@mixin img($url) { //image set
  background-image: $url;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

// pc
@include reponsive-media-query($tablet-min-width, $fullhd-min-width) {
  #container {
    @include size(100vw, 100vh);
    & header {
      @include size(100vw, 10vh);
      @include flex(center, center, row);
      position: fixed;
      top: 0;
      z-index: 2;
      & > div {
        @include size(72vw, 100%);
        // border: 1px solid red;
        @include flex(space-between, center, row);
        & > div:nth-child(1) { //logo
          & > a {
            @include size(170px, 28px);
            @include img(url(../images/yoga-logo.png));
          }
        }
        & > div:nth-child(2) { //pc버전 메뉴
          @include flex(center, center, row);
          & > ul { //메뉴
            @include flex(space-around, center, row);
            & li {
              & a {
                margin-right: 5vw;
                color: #fff;
              }
            }
          }
          & > ul:nth-child(2) { //서치, 마이페이지
            & li {
              & a {
                @include size(24px, 24px);
                margin-right: 0;
                margin-left: 3vw;
              }
            }
            & li:nth-child(1){
              & a {
                @include img(url(../images/icon/search.png));
              }
            }
            & li:nth-child(2){
              & a {
                @include img(url(../images/icon/mypage.png));
              }
            }
          }
        }
        & > div:nth-child(3) { //mobile 버전 메뉴
          display: none;
        }
      }
    }
    & main {
      @include flex(center, center, column);
      & section:nth-child(1) {
        @include size(100vw, 85vh);
        @include img(url(../images/bg.png));
        @include flex(center, center, row);
        position: relative;
        & > div:nth-child(1) {
          @include size(50vw, 40vw);
          margin-top: 10vh;
          // border: 1px solid salmon;
          position: relative;
          @include flex(center, center, row);
          & > div:nth-child(1) { //live online yoga
            @include size(36vw, 8vw);
            // border: 1px solid red;
            position: absolute;
            bottom: 28vw;
            left: 50%;
            transform: translate(-50%);
            z-index: 1;
          }
          & > div:nth-child(2) { //yogaimg1
            @include size(48vw, 32vw);
            // border: 1px solid blue;
            position: absolute;
            left: 30%;
            transform: translateX(-50%);
            bottom: 8vw;
            
          }
          & > div:nth-child(3) { //yogaimg2
            @include size(48vw, 32vw);
            // border: 1px solid blue;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 5vw;
          }
          
        }

        & > div:nth-child(2) { //btn:참가하기
          @include size(26vh, 8vh);
          // border: 1px solid red;
          position: absolute;
          bottom: 30vh;
          right: 20vw;
          @include flex(end, center, row);
          & span {
            color: $color-1;
          }
          & > div { 
            @include size(8vh, 8vh);
            @include flex( center, center, row);
            // border: 1px solid #fff;
            position: relative;
            margin-left: 5vh;

            & > div:nth-child(1) { //arrow
              @include size(9vh, 1.6vh);
              @include img(url(../images/icon/arrow.png));
              position: absolute;
              right: 3.5vh;
              bottom: 3.5vh;
              z-index: 1;
            }
            & > div:nth-child(2) { //btn:참가하기
              & > a {
                @include size(6vh, 6vh);
                border-radius: 50%;
                background-color: #C196C1;
              }
              & > a::after {
                content: '';
                @include size(7vh, 7vh);
                border: 1px solid #C196C1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }
      }
      // section2 : 요가온 강사 클래스 인터뷰 이미지 
      & section:nth-child(2) {
        @include size(72vw, 72vw);
        margin-top: 10vh;
        & h2 {
          display: none;
        }
        & > ul { 
          @include flex(center, center, row);
          & > li {
            @include size(24vw, 24vw);
            // border: 1px solid red;
            overflow: hidden;
            & > a { //img
              @include size(24vw, 24vw);
              transition: .3s;
              // border: 1px solid skyblue;
            }
          }
          & >li:hover {
            & > a {
              transform: scale(1.05);
            }
          }
        }
      }
      & section:nth-child(3) {
        @include size(100vw, min-content);
        // background-color: #cfc;
        // overflow: hidden;
        margin-top: 10vh;
        & h2 { //member's story
          font-size: 1.5rem;
          text-align: center;
          margin: 10vh 0;
          text-transform: uppercase;
        }
      // & > div { //slideshow
      // }
      }
    }
    & footer {
      @include size(100vw, 30vh);
      background-color: #D7BEB3;
      margin-top: 10vh;
      @include flex(center, center, row);
      padding-top: 3vh;
      & > div {
        @include size(72vw, min-content);
        @include flex(space-between, start, row-reverse);
        // border: 1px solid blue;
        & > div:nth-child(1) {
          @include size(18vw, 8vh);
          @include flex(space-between, end, column);
          // border: 1px solid red;
          & > div {
            @include size(17vh, 3vh);
            @include img(url(../images/yoga-logo.png));
          }
          & > ul {
            @include flex(space-between, center, row);
            @include size(16vh, 3vh);
            & > li { //아이콘
              @include size(3vh, 3vh);
              & > a {
                @include size(100%, 100%);
              }
            }
            & > li:nth-child(1) {
              & a {
                @include img(url(../images/icon/insta.png));
              }
            }
            & > li:nth-child(2) {
              & a {
                @include img(url(../images/icon/facebook.png));
              }
            }
            & > li:nth-child(3) {
              & a {
                @include img(url(../images/icon/blog.png));
              }
            }
          }
        }
        & > div:nth-child(2) {
          @include size(50vw, 15vh);
          // border: 1px solid red;
          & > span {
            font-size: .8rem;
            color: $color-1;
          }
        }
      }
    }
  }
}

// mobile
@include reponsive-media-query($mobile-min-width, $tablet-min-width) {
  #container {
    @include size(100vw, 100vh);
    // border: 1px solid salmon;

    & header {
      @include size(100vw, 7vh);
      @include flex(center, center, row);
      position: fixed;
      top: 0;
      z-index: 2;
      & > div { //logo
        @include size(90vw, 100vh);
        // border: 1px solid violet;
        @include flex(space-between, center, row);
        & > div:nth-child(1) { //logo
          & > a {
            display: block;
            @include size(130px, 23px);
            @include img(url(../images/yoga-logo.png));
          }
        }
        & > div:nth-child(2) { //pc버전메뉴
          display: none;
        }
        //mobile 버전 메뉴 -->햄버거아이콘
        & > div:nth-child(3) { 
          #menu {
            @include size(30px, 30px);
            @include img(url(../images/icon/menu.png));
          }

        }
      }
    }
    & main {
      @include flex(center, center, column);
      & section:nth-child(1) { 
        @include size(100vw, 85vh);
        @include img(url(../images/bg-mo.png));
        background-position:50% 100%; 
        @include flex(center, center, row);
        position: relative;
        & > div:nth-child(1) {
          @include size(90vw, 90vw);
          // border: 1px solid salmon;
          position: relative;
          @include flex(center, center, row);
          & > div:nth-child(1) { //live online yoga
            @include size(84vw, 20vw);
            // border: 1px solid red;
            position: absolute;
            bottom: 62vw;
            left: 50%;
            transform: translate(-50%);
            z-index: 1;
          }
          & > div:nth-child(2) { //yogaimg1
            @include size(110vw, 82vw);
            // border: 1px solid blue;
            position: absolute;
            left: 40%;
            transform: translateX(-50%);
            bottom: 7vw;
          }
          & > div:nth-child(3) { //yogaimg2
            @include size(110vw, 82vw);
            // border: 1px solid blue;
            position: absolute;
            left: 54%;
            transform: translateX(-50%);
            bottom: 0;
          }
          
        }

        & > div:nth-child(2) { //btn:참가하기
          @include size(50vw, 16vw);
          // border: 1px solid red;
          position: absolute;
          bottom: 5vh;
          right: 50%;
          transform: translateX(50%);
          @include flex(end, center, row);
          & span {
            color: $color-1;
          }
          & > div { 
            @include size(8vh, 8vh);
            @include flex( center, center, row);
            // border: 1px solid #fff;
            position: relative;
            margin-left: 5vh;

            & > div:nth-child(1) { //arrow
              @include size(9vh, 1.6vh);
              @include img(url(../images/icon/arrow.png));
              position: absolute;
              right: 3.5vh;
              bottom: 3.5vh;
              z-index: 1;
            }
            & > div:nth-child(2) { //btn:참가하기
              & > a {
                @include size(6vh, 6vh);
                border-radius: 50%;
                background-color: #C196C1;
              }
              & > a::after {
                content: '';
                @include size(7vh, 7vh);
                border: 1px solid #C196C1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }
      }
      //section2 : 요가온 강사 클래스 인터뷰 이미지 
      & section:nth-child(2) {
        @include size(100vw, min-content);
        // background-color: rgba(0,0,0,.2);
        & h2 {
          text-align: center;
          margin: 3vh 0;
          text-transform: uppercase;
        }
        & > ul { 
          @include flex(center, center, row);
          & > li {
            @include size(50vw, 50vw);
            // border: 1px solid red;
            & > a {
              @include size(50vw, 50vw);
              // border: 1px solid skyblue;
            }
          }
          & > li:nth-child(2) { //pc에서 보이던 가운데 이미지
            display: none;
          }
        }
      }
      & section:nth-child(3) {
        @include size(100vw, 40vh);
        // background-color: #cfc;
        margin-top: 5vh;
        overflow: hidden;
        position: relative;
        & h2 {
          text-align: center;
          margin: 3vh 0;
          text-transform: uppercase;
        }
        // & > div { //slideshow
        // }

      }
    }
    & footer {
      @include size(100vw, 30vh);
      background-color: #D7BEB3;
      margin-top: 3vh;
      @include flex(start, center, column);
      padding-top: 5vh;
      & > div {
        @include size(90vw, min-content);
        & > div:nth-child(1) {
          @include size(100%, 5vh);
          @include flex(space-between, center, row);
          // border: 1px solid red;
          & > div {
            @include size(17vh, 3vh);
            @include img(url(../images/yoga-logo.png));
          }
          & > ul {
            @include flex(space-between, center, row);
            @include size(17vh, 3vh);
            & > li {
              @include size(3vh, 3vh);
              & > a {
                @include size(100%, 100%);
              }
            }
            & > li:nth-child(1) {
              & a {
                @include img(url(../images/icon/insta.png));
              }
            }
            & > li:nth-child(2) {
              & a {
                @include img(url(../images/icon/facebook.png));
              }
            }
            & > li:nth-child(3) {
              & a {
                @include img(url(../images/icon/blog.png));
              }
            }
          }
        }
        & > div:nth-child(2) {
          @include size(100%, 15vh);
          margin-top: 3vh;
          // border: 1px solid red;
          & > span {
            font-size: .7rem;
            color: $color-1;
          }
        }
      }
    }
  }
}

main {
  & >section:nth-child(1) {
    & > div:nth-child(1) { //text-->live online yoga
      &> div:nth-child(1) {
        @include img(url(../images/liveYoga.png));
      }
      & > div:nth-child(2) { //img 
        @include img(url(../images/main-img2.png));
      }
      & > div:nth-child(3) { //img 
        @include img(url(../images/mainimg.png));
      }
    }
  }
}

#on {
  @include size(100vw, 100vh);
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 3;
  transition: .3s;
  #off {
    @include size(40px, 40px);
    position: absolute;
    top: 2vh;
    right: 5%;
    // border: 1px solid #fff;
    @include img(url(../images/icon/off.png));
  }
  & > ul {
    margin-top: 7vh;
    & > li {
      & >a {
        @include size(100vw, 12vh);
        border-bottom: 1px solid #fff;
        color: #fff;
        line-height: 12vh;
        padding-left: 5vh;
      }

    }
  }
}



//이미지 
#teacher { //teacher
  & >li:nth-child(1) {
    & > a {
      @include img(url(../images/manyoga.png));
    }
  }
  & >li:nth-child(2) {
    @include img(url(../images/yogamat.png));
  }
  & >li:nth-child(3) {
    & > a {
      @include img(url(../images/teacher.png));
    }
  }
}
#on-class {
  & >li:nth-child(1) {
    & > a {
      @include img(url(../images/zoomImg.png));
    }
  }
  & >li:nth-child(2) {
    @include img(url(../images/onyoga-text.png));
    // @include flex(center, center, row);
    // & p {
    //   text-transform: uppercase;
    //   font-size: 1.5rem;
    // }
  }
  & >li:nth-child(3) {
    & > a {
      @include img(url(../images/zoomyoga1.png));
    }
  }
}
#interview {
  & >li:nth-child(1) {
    & > a {
      @include img(url(../images/interview2.png));
    }
  }
  & >li:nth-child(2) {
    @include img(url(../images/incense2.png));
  }
  & >li:nth-child(3) {
    & > a {
      @include img(url(../images/interview1.png));
    }
  }
}
/* ? 슬라이드쇼  pc mobile 구분없이 같은 디자인*/ 
#slideshow { //slideshow
  @include size(100%, 230px);
  position: relative;
  overflow: hidden;
  & > ul { //slides 
    @include size(min-content, min-content);
    @include flex(center, center, row);
    position: absolute;
    left: 0;
    & > li { //리뷰
      @include size(230px, 230px);
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-left: 10px;
      padding: 10px;
      @include flex(start, center, column);
      & > div { 
        @include size(100%, min-content);
        @include flex(space-between, center, row);
        margin-bottom: 1vh;
        // border: 1px solid blue;
        & > div:nth-child(1) { //프로필사진
          @include size(60px, 60px);
          border: 1px solid red;
          border-radius: 50%;
        }
        & > div:nth-child(2) { 
          @include size(138px, 60px);
          // border: 1px solid red;
          & > span { //id
            font-weight: bold;
            color: $color-7;
          }
          & > ul {
            @include flex(space-between, center, row);
            margin-top: 1vh;
            & > li { //별점
              @include size(20px, 20px);
              @include img(url(../images/icon/star.png));
            }
          }
        }
      }
      & > p {
        color: $color-7;
        text-align: justify;
        font-size: .9rem;
      }
    }
  }

}
#slides {
  & > li:nth-child(1) {
    & > div {
      & > div:nth-child(1) {
        @include img(url(../images/1.png));
      }
    }
  }
  & > li:nth-child(2) {
    & > div {
      & > div:nth-child(1) {
        @include img(url(../images/2.png));
      }
    }
  }
  & > li:nth-child(3) {
    & > div {
      & > div:nth-child(1) {
        @include img(url(../images/3.png));
      }
    }
  }
  & > li:nth-child(4) {
    & > div {
      & > div:nth-child(1) {
        @include img(url(../images/4.png));
      }
    }
  }
}