* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

h2 {
  font-size: inherit;
  font-weight: normal;
}

@media (min-width: 768px) and (max-width: 1920px) {
  #container {
    width: 100vw;
    height: 100vh;
  }
  #container header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  #container header > div {
    width: 72vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(1) > a {
    width: 170px;
    height: 28px;
    background-image: url(../images/yoga-logo.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(2) > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(2) > ul li a {
    margin-right: 5vw;
    color: #fff;
  }
  #container header > div > div:nth-child(2) > ul:nth-child(2) li a {
    width: 24px;
    height: 24px;
    margin-right: 0;
    margin-left: 3vw;
  }
  #container header > div > div:nth-child(2) > ul:nth-child(2) li:nth-child(1) a {
    background-image: url(../images/icon/search.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(2) > ul:nth-child(2) li:nth-child(2) a {
    background-image: url(../images/icon/mypage.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(3) {
    display: none;
  }
  #container main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container main section:nth-child(1) {
    width: 100vw;
    height: 85vh;
    background-image: url(../images/bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  #container main section:nth-child(1) > div:nth-child(1) {
    width: 50vw;
    height: 40vw;
    margin-top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #container main section:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 36vw;
    height: 8vw;
    position: absolute;
    bottom: 28vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  #container main section:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    width: 48vw;
    height: 32vw;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    bottom: 8vw;
  }
  #container main section:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
    width: 48vw;
    height: 32vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vw;
  }
  #container main section:nth-child(1) > div:nth-child(2) {
    width: 26vh;
    height: 8vh;
    position: absolute;
    bottom: 30vh;
    right: 20vw;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }
  #container main section:nth-child(1) > div:nth-child(2) span {
    color: #fff;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div {
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-left: 5vh;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div > div:nth-child(1) {
    width: 9vh;
    height: 1.6vh;
    background-image: url(../images/icon/arrow.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 3.5vh;
    bottom: 3.5vh;
    z-index: 1;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > a {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #C196C1;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > a::after {
    content: "";
    width: 7vh;
    height: 7vh;
    border: 1px solid #C196C1;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #container main section:nth-child(2) {
    width: 72vw;
    height: 72vw;
    margin-top: 10vh;
  }
  #container main section:nth-child(2) h2 {
    display: none;
  }
  #container main section:nth-child(2) > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #container main section:nth-child(2) > ul > li {
    width: 24vw;
    height: 24vw;
    overflow: hidden;
  }
  #container main section:nth-child(2) > ul > li > a {
    width: 24vw;
    height: 24vw;
    transition: 0.3s;
  }
  #container main section:nth-child(2) > ul > li:hover > a {
    transform: scale(1.05);
  }
  #container main section:nth-child(3) {
    width: 100vw;
    height: 40vh;
    background-color: #cfc;
    margin-top: 10vh;
  }
  #container footer {
    width: 100vw;
    height: 30vh;
    background-color: #ccc;
    margin-top: 10vh;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  #container {
    width: 100vw;
    height: 100vh;
  }
  #container header {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  #container header > div {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  #container header > div > div:nth-child(1) > a {
    display: block;
    width: 130px;
    height: 23px;
    background-image: url(../images/yoga-logo.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container header > div > div:nth-child(2) {
    display: none;
  }
  #container header > div > div:nth-child(3) {
    width: 30px;
    height: 30px;
    background-image: url(../images/icon/menu.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container main section:nth-child(1) {
    width: 100vw;
    height: 85vh;
    background-image: url(../images/bg-mo.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  #container main section:nth-child(1) > div:nth-child(1) {
    width: 90vw;
    height: 90vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #container main section:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 84vw;
    height: 20vw;
    position: absolute;
    bottom: 62vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  #container main section:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    width: 114vw;
    height: 82vw;
    position: absolute;
    left: 42%;
    transform: translateX(-50%);
    bottom: 7vw;
  }
  #container main section:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
    width: 114vw;
    height: 82vw;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    bottom: 0;
  }
  #container main section:nth-child(1) > div:nth-child(2) {
    width: 50vw;
    height: 16vw;
    position: absolute;
    bottom: 5vh;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }
  #container main section:nth-child(1) > div:nth-child(2) span {
    color: #fff;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div {
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-left: 5vh;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div > div:nth-child(1) {
    width: 9vh;
    height: 1.6vh;
    background-image: url(../images/icon/arrow.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 3.5vh;
    bottom: 3.5vh;
    z-index: 1;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > a {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #C196C1;
  }
  #container main section:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > a::after {
    content: "";
    width: 7vh;
    height: 7vh;
    border: 1px solid #C196C1;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #container main section:nth-child(2) {
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  #container main section:nth-child(2) h2 {
    text-align: center;
    margin: 3vh 0;
    text-transform: uppercase;
  }
  #container main section:nth-child(2) > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #container main section:nth-child(2) > ul > li {
    width: 50vw;
    height: 50vw;
  }
  #container main section:nth-child(2) > ul > li > a {
    width: 50vw;
    height: 50vw;
  }
  #container main section:nth-child(2) > ul > li:nth-child(2) {
    display: none;
  }
  #container main section:nth-child(3) {
    width: 100%;
    height: 40vh;
    background-color: #cfc;
    margin-top: 10vh;
  }
  #container footer {
    width: 100%;
    height: 30vh;
    background-color: #ddd;
    margin-top: 10vh;
  }
}
main > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  background-image: url(../images/liveYoga.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  background-image: url(../images/main-img2.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
main > section:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
  background-image: url(../images/mainimg.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#teacher > li:nth-child(1) > a {
  background-image: url(../images/manyoga.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#teacher > li:nth-child(2) {
  background-image: url(../images/yogamat.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#teacher > li:nth-child(3) > a {
  background-image: url(../images/teacher.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#on-class > li:nth-child(1) > a {
  background-image: url(../images/zoomImg.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#on-class > li:nth-child(2) {
  background-image: url(../images/onyoga-text.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#on-class > li:nth-child(3) > a {
  background-image: url(../images/zoomyoga1.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#interview > li:nth-child(1) > a {
  background-image: url(../images/interview2.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#interview > li:nth-child(2) {
  background-image: url(../images/incense2.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#interview > li:nth-child(3) > a {
  background-image: url(../images/interview1.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */