
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  display: block;
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;

}
//color
$color-1 : #fff;
$color-2 : #eee;
$color-3 : #ccc;
$color-4 : #767676;
$color-5 : #484848;
$color-6 : #333;
$color-7 : #222;
// width variable 
$mobile-min-width : 320px;
$tablet-min-width : 768px;
$desktop-min-width : 1024px;
$fullhd-min-width : 1920px;
//mixin
@mixin reponsive-media-query($min-width, $max-width) { 
  @media (min-width:$min-width) and (max-width:$max-width) {
    @content;
  }
}
@mixin size($width, $height) { //size set
  width: $width;
  height: $height;
}
@mixin flex($justify, $align, $flex) { //flex set
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex;
} 
@mixin img($url) { //image set
  background-image: $url;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

// pc
@include reponsive-media-query($tablet-min-width, $fullhd-min-width) {
  #container {
    @include size(100vw, 100vh);
    & header {
      @include size(100vw, 10vh);
      @include flex(center, center, row);
      position: fixed;
      top: 0;
      z-index: 2;
      & > div {
        @include size(72vw, 100%);
        border: 1px solid red;
        @include flex(space-between, center, row);
        & > div:nth-child(1) { //logo
          & > a {
            @include size(170px, 28px);
            @include img(url(../images/yoga-logo.png));
          }
        }
        & > div:nth-child(2) {
          @include flex(center, center, row);
          & > ul {
            @include flex(space-around, center, row);
            & li {
              & a {
                margin-right: 5vw;
                color: #fff;
              }
            }
          }
          & > ul:nth-child(2) {
            & li {
              & a {
                @include size(24px, 24px);
                margin-right: 0;
                margin-left: 3vw;
              }
            }
            & li:nth-child(1){
              & a {
                @include img(url(../images/icon/search.png));
              }
            }
            & li:nth-child(2){
              & a {
                @include img(url(../images/icon/mypage.png));
              }
            }
          }
        }
        & > div:nth-child(3) {
          display: none;
        }
      }
    }
    & main {
      @include flex(center, center, column);
      & section:nth-child(1) {
        @include size(100vw, 85vh);
        @include img(url(../images/bg.png));
        position: relative;
        & > div:nth-child(1) {
          @include size(80vh, 20vh);
          border: 1px solid red;
          position: absolute;
          top: 15vh;
          left: 50%;
          transform: translate(-50%);
          z-index: 1;
        }
        & > div:nth-child(2) {
          @include size(80vh, 50vh);
          border: 1px solid blue;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 20vh;
        }
        & > div:nth-child(3) {
          @include size(16vw, 10vh);
          border: 1px solid red;
          position: absolute;
          bottom: 20vh;
          right: 20vw;
        }
      }
      & section:nth-child(2) {
        @include size(72vw, 72vw);
        background-color: #ffc;
        margin-top: 10vh;
      }
      & section:nth-child(3) {
        @include size(100vw, 40vh);
        background-color: #cfc;
        margin-top: 10vh;
      }
    }
    & footer {
      @include size(100vw, 30vh);
      background-color: #ccc;
      margin-top: 10vh;
    }
  }
}

// mobile
@include reponsive-media-query($mobile-min-width, $tablet-min-width) {
  #container {
    @include size(100vw, 100vh);
    & header {
      @include size(100vw, 7vh);
      @include flex(center, center, row);
      position: fixed;
      top: 0;
      z-index: 2;
      & > div {
        @include size(90%, 100%);
        border: 1px solid violet;
        @include flex(space-between, center, row);
        & > div:nth-child(1) { //logo
          & > a {
            display: block;
            @include size(130px, 23px);
            @include img(url(../images/yoga-logo.png));
          }
        }
        & > div:nth-child(2) {
          display: none;
        }
        & > div:nth-child(3) {
          @include size(30px, 30px);
          @include img(url(../images/icon/menu.png));
        }
      }
    }
    & main {
      @include flex(center, center, column);
      & section:nth-child(1) {
        @include size(100vw, 85vh);
        @include img(url(../images/bg-mobile.png));
        position: relative;
        & > div:nth-child(1) {
          @include size(90vw, 30vw);
          border: 1px solid red;
          position: absolute;
          top: 20vh;
          left: 50%;
          transform: translate(-50%);
          z-index: 1;
        }
        & > div:nth-child(2) {
          @include size(90vw, 70vw);
          border: 1px solid blue;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20vh;
        }
        & > div:nth-child(3) {
          @include size(50vw, 10vh);
          border: 1px solid red;
          position: absolute;
          bottom: 8vh;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      & section:nth-child(2) {
        @include size(100%, 100vh);
        background-color: #ffc;
        margin-top: 10vh;
      }
      & section:nth-child(3) {
        @include size(100%, 40vh);
        background-color: #cfc;
        margin-top: 10vh;
      }
    }
    & footer {
      @include size(100%, 30vh);
      background-color: #ddd;
      margin-top: 10vh;
    }
  }
}